[default]
access_key = ${S3TF_ACCESS_KEY}
bucket_location = ru-central1
host_base = storage.yandexcloud.net
host_bucket = %(bucket)s.storage.yandexcloud.net
secret_key = ${S3TF_SECRET_KEY}
signature_v2 = False
use_https = True
website_endpoint = http://%(bucket)s.website.yandexcloud.net